<div class="container-fluid">
    <div class="row">
    <div class="col-md-12 post_heading_show">

    </div>
        <div class="col-md-8 offset-md-2">
            <div class="post_title">
            <!-- used regex to create the time> <-->
            <p> <%= @post.created_at.strftime('%A, %B %d')%>
                <h1><%= @post.title %></h1>
            </div>
            <div class="post_author">
                <p> <h5>Author: <%=  @post.user.username %></h5> </p>
            </div>
            <div class="post_body">
                <p> <%= simple_format(@post.blob) %>  </p>
            </div>
           
        </div>
    <div> 
</div>
            
  