
    <!-- used regex to create the time> -->
    <div class="title"> 
        <h1 class="title_of_blog_post"><%= @post.title %></h1>
        <p class="created_at"> <%= @post.created_at.strftime('%A, %B %d')%></p>
    </div>

<div class="col-md-8 offset-md-2">
    <div class="post_author">
        <%# <p> <h5>Author: <%=  @post.user.username %></h5> </p> 
    </div>
    <div class="post_body">
        <p> <%= markdown(@post.blob) %>  </p>
    </div>
 </div>
   
  </br>


            
  