// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagenumber{  
    position: fixed;
    top: 90vh;
    
}
.category_1{
    background: #ffffff;
}
.blog_titles{
    color: #ff6677;
}
.post-titles{
    color: #ffffff;
    position: relative;
    top: 50px;
    left:100px;
}
.post-titles-medium{
    color: #ffffff;
    position: relative;
    top: 50px;
    left:20px;
}

@media only screen and (max-width: 990px){
    
    .pagenumber{
        position:fixed;
        top: 65vh;
    }
    tr{
        height: 1vh;
    }
}