// Index page style
// Index page style
body{
    font-family: 'montserrat'
}
.table{
    margin:30px 0 0 0;
       
}
.navbar{
    background: #fff;
    margin-right: -50px;
}
.nav-link{
    font-size: 2em;
    margin: 10px 0 0 0;
}

.title_of_blog{
    color: #222222;
    margin:10px 0 10px 30px;

}
.intro{
    height: 30vh;
    background:#F1F7ED;
    margin: 10px 0 0 0;
    padding:10px;
    // text-align:center;
}
.intro:hover{
    background: #FFFFFF;
    // 	text-shadow:1px 1px 2px #ccf;
    text-decoration: none;  
     }

a:hover{
    text-decoration: none;
}
.logo_in_intro_doc{
    width: 60%;
    height: auto;
    position: relative;
    top: 0px;
    left:60px;
}
.social-link{   
    margin: 10px;
}
.dev-logo
{
    width: 30px;
    height: auto;
}
.blue{
    color: blue;
    font-size: 2em;
}
.red{
    color: red;
    font-size: 2em;
}
.purple{
    color: purple;
    font-size: 2em;
}
.green{
    color: green;
    font-size: 2em;
}

@media only screen and (max-width: 990px){
    body{
        height: 100vh;
    }
    .navbar{
        margin: 30px 0px 0px 0;
    }
    .content{
        margin:30px 0 0 0;
        font-size: 1.75em;         
    }
}