// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//CSS for Show post page
.title{
    background: #3C6997;
    height: 30vh;
    margin:10px 0px 5px 0px ;
    text-align:center;
    
}
.title_of_blog_post{
    position: relative;
    top: 90px;
    font-size: 3em;
    color: #171A21
}
.created_at{
    position:relative;
    top: 95px;
}




// Create post page
.blog_body{
    resize:none;
    border: 2px solid;
}
.post_heading{
    width: 100%;
    background: #3C6997;
    height: 30vh;
    margin:15px 0px 15px 0px ;
    text-align:center;        
    }

#btn{
    text-align:center;
}
.text_size{
    width: 200px;
}
.separator{
    height:10px;
    background: black;
}
.pagenumber_post{
     margin-top:10px;   
}
